<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
    <groupId>com.ibm.mfp</groupId>
    <artifactId>{{artifactId}}</artifactId>
	<version>{{artifactVersion}}</version>
	<packaging>adapter</packaging>
	<dependencies>
		<dependency>
			<groupId>com.ibm.mfp</groupId>
			<artifactId>adapter-maven-api</artifactId>
			<scope>provided</scope>
			<version>8.0.0</version>
		</dependency>
		<dependency>
			<groupId>javax.ws.rs</groupId>
			<artifactId>javax.ws.rs-api</artifactId>
			<version>2.0</version>
			<scope>provided</scope>
		</dependency>
		<dependency>
      		<groupId>junit</groupId>
      		<artifactId>junit</artifactId>
      		<version>4.11</version>
      		<scope>test</scope>
    	</dependency>
		<dependency>
			<groupId>com.ibm.mfp</groupId>
			<artifactId>mfp-security-checks-base</artifactId>
			<version>8.0.0</version>
		</dependency>
		<dependency>
			<groupId>io.swagger</groupId>
			<artifactId>swagger-annotations</artifactId>
			<scope>provided</scope>
			<version>1.5.6</version>
		</dependency>
		<dependency>
			<groupId>org.json</groupId>
			<artifactId>json</artifactId>
			<version>20160212</version>
		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-annotations</artifactId>
			<version>2.7.3</version>
		</dependency>
		<dependency>
      		<groupId>org.testng</groupId>
      		<artifactId>testng</artifactId>
      		<version>6.8.8</version>
      		<scope>test</scope>
      		<exclusions>
        		<exclusion>
          			<artifactId>junit</artifactId>
          			<groupId>junit</groupId>
        		</exclusion>
        		<exclusion>
          			<artifactId>snakeyaml</artifactId>
          			<groupId>org.yaml</groupId>
        		</exclusion>
        		<exclusion>
          			<artifactId>bsh</artifactId>
          			<groupId>org.beanshell</groupId>
        		</exclusion>
      		</exclusions>
    	</dependency>
    	<dependency>
    		<groupId>io.swagger</groupId>
    		<artifactId>swagger-java-client</artifactId>
    		<version>1.0.0</version>
    		<scope>compile</scope>
		</dependency>
			<!-- https://mvnrepository.com/artifact/com.sun.jersey/jersey-core -->
			<dependency>
					<groupId>com.sun.jersey</groupId>
					<artifactId>jersey-core</artifactId>
					<version>1.11</version>
			</dependency>
			<!-- https://mvnrepository.com/artifact/com.sun.jersey.contribs/jersey-multipart -->
				<dependency>
						<groupId>com.sun.jersey.contribs</groupId>
						<artifactId>jersey-multipart</artifactId>
						<version>1.17</version>
			</dependency>
	</dependencies>
	<properties>
		<!-- parameters for deploy mfpf adapter -->
		<mfpfUrl>http://localhost:9080/mfpadmin</mfpfUrl>
		<mfpfUser>admin</mfpfUser>
		<mfpfPassword>admin</mfpfPassword>
		<mfpfRuntime>mfp</mfpfRuntime>
	</properties>
		<build>
    <sourceDirectory>src/main/java</sourceDirectory>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-war-plugin</artifactId>
        <version>2.6</version>
		<configuration>
			<failOnMissingWebXml>false</failOnMissingWebXml>
		</configuration>
      </plugin>
      <plugin>
        <artifactId>maven-failsafe-plugin</artifactId>
        <version>2.6</version>
        <executions>
          <execution>
            <goals>
              <goal>integration-test</goal>
              <goal>verify</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      <plugin>
				<groupId>com.ibm.mfp</groupId>
				<artifactId>adapter-maven-plugin</artifactId>
				<extensions>true</extensions>
		</plugin>
    </plugins>
  </build>
</project>